---
title: Troubleshooting and Uninstalling JMX Bridge
owner: PCF Metrics
---

<strong><%= modified_date %></strong>

This topic describes how to resolve common issues with the JMX Bridge for Pivotal Cloud Foundry (PCF) tile 
and how to uninstall the tile if necessary. 

## <a id="troubleshot"></a> Troubleshoot##

The following sections provide help with troubleshooting JMX Bridge for PCF. 

### <a id='dependency'></a>Dependency Error During Install###

You might see the following error if your installed version of Elastic Runtime is not compatible with the version of JMX Bridge that you are attempting to install: 
`JMX Bridge requires 'cf' version '~> 1.8.0.0' as a dependency.`

<%= image_tag("images/jmx-ert-install-depedency.png") %>

Follow the instructions below that correspond to your installed Elastic Runtime version:

* **Elastic Runtime v1.8.0 to v1.8.16**: 
   1. Download version v1.8.17 or later of the <a href="https://network.pivotal.io/products/elastic-runtime">Elastic Runtime tile</a> and import it into your Ops Manager **Installation Dashboard**.
   1. Click the newly added tile to review any configurable options. For more information, see <a href="https://docs.pivotal.io/pivotalcf/installing/index.html">Installing Pivotal Cloud Foundry</a> and choose your IaaS.
   1. Click **Apply Changes** to install both Elastic Runtime and JMX Bridge.
* **Elastic Runtime v1.8.17 or later**: Upgrade the JMX Bridge tile to v1.8.9 or later.  
  <p class="note"><strong>Note</strong>: A known issue exists with older versions of JMX Bridge and the newer versions of Elastic Runtime. JMX Bridge v1.8.2 through v1.8.8 only work with Elastic Runtime v1.8.0 through v1.8.16.</p>


### <a id='cyclical_dependency'></a>Cyclic Dependency Error During Install###

You might see the following error if you have Elastic Runtime and JMX Bridge installed.

<%= image_tag("images/jmx-ert-cyclic-depedency.png") %>

* **JMX Bridge v1.8.7 or later; Elastic Runtime v1.8**:
   1. The Collector component is no longer compatible with JMX Bridge.
   All metrics that were previously flowing through the Collector are now flowing through the Firehose in Elastic Runtime v1.8.
   1. Scale down the Collector in `Elastic Runtime > Resource Config` to `0`
   1. Click **Apply Changes** and continue your JMX Bridge installation.

<p class="note"><strong>Note</strong>: This is only an issue for <strong>Elastic Runtime v1.8</strong>. The Collector does not exist in Elastic Runtime v1.9.</p>
   
### <a id='no-metrics'></a>Missing Metrics from PCF Installation or Firehose###

If you do not see expected metrics from Elastic Runtime in the JMX provider, verify that you installed Elastic Runtime before JMX Bridge. 
If you installed JMX Bridge first, perform the following steps:

1. SSH into the **opentsdb-firehose-nozzle** VM. For information about how to use the BOSH CLI to SSH into a VM, see [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html).
1. Grant **sudo** access to the machine:
       <pre class="terminal">$ sudo -i</pre>
1. Restart the `opentsdb-firehose-nozzle` job. 
       <pre class="terminal">$ monit restart opentsdb-firehose-nozzle</pre>

### <a id='bosh-metrics'></a>Missing BOSH Metrics###

If you do not see expected metrics from BOSH, try the following steps:

1. Make sure the IP address in **JMX Bridge > Status > JMX Provider** matches the value entered in **Ops Manager Director > Director Config > Metrics IP Address**.
1. If the JMX Provider IP address matches the Metrics IP address and you see no BOSH metrics in the system, contact <a href="https://support.pivotal.io/">Pivotal Support</a> for help.
 
### <a id='mbeans'></a>Validating JMX Bridge MBeans###

If you do not see metrics from JMX Bridge in your third-party tooling integration as expected, first try the following
steps to quickly debug whether there is an issue with the JMX Bridge product or if the issue is with the tooling integration:

1. Verify [Java 6+](http://www.oracle.com/technetwork/java/javase/downloads/index-jsp-138363.html) is installed.
1. Run `jconsole`:
      <pre class="terminal">$ jconsole</pre>
1. Select **Remote Process** and enter the IP of the **JMX Provider** VM with port `44444`.
1. Fill in the username and password for the **JMX Provider** that was entered during installation of JMX Bridge.
1. Click **Connect**.

      <%= image_tag("images/jmx-jconsole-connnect.png") %>

1. Allow **Insecure connection** if SSL was not enabled.

      <%= image_tag("images/jmx-jsonsole-insecure.png") %>

You can now view all MBeans emitted by JMX Bridge.

<%= image_tag("images/jmx-jconsole-mbeans.png") %>
      
<p class="note"><strong>Note</strong>: If you have enabled SSL, see <a href="self-signed-ssl.html">Using SSL with a Self-Signed Certificate in JMX Bridge</a>.</p>

##### Set Up Port Forwarding for JMX

If you are connecting to jconsole from a location different from the install location
(for example, deployed on AWS or GCP), you have to set up port forwarding to access the MBeans.

1. Set up port forwarding on one tab of your console and keep it open:
      <pre class="terminal">ssh -D 7777 username<span>@</span>pcf.domain.com -T</pre>

1. Start `jconsole` in a new tab and set up the `socksProxyPort` to the forwarded port:
      <pre class="terminal">jconsole -J-DsocksProxyHost=localhost -J-DsocksProxyPort=7777</pre>

1. Navigate `jconsole` as normal.

### <a id='smoke-tests'></a>Smoke Tests###

If errors occur when the smoke tests run, you can find the errors in the **ChangeLog** for the installation. Some common failures are listed below.

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>internalMetricsAreSent() Fails</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The JMX Provider did not receive internal health metrics from the OpenTSDB Firehose Nozzle.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Restart the OpenTSDB Firehose Nozzle VM and check the logs to verify it is running correctly.</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>receivingFirehoseMetrics() Fails</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>The OpenTSDB Firehose Nozzle is not receiving metrics from the Firehose.</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Restart the OpenTSDB Firehose Nozzle VM and check the logs to verify it is connected to the Firehose.  If you see a lot of reconnect attempts in the logs then you likely need to scale up the number of OpenTSDB Firehose Nozzle instances in the <b>Resource Config</b> tab.</td>
 </tr>
 </table>
 

</tr>
</table>

## <a id='uninstall'></a>Uninstall##

To uninstall the JMX Bridge for PCF tile, see [Deleting a Product](https://docs.pivotal.io/pivotalcf/customizing/add-delete.html#del-prod).

